@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(229, 233, 233);
    /*flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

header {
    font-size: 2em;
    margin-top: 100px;
    font-family: "Protest Guerrilla", sans-serif;
}

h2 {
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 20px;
}

 input {
    border: none;
    padding: 15px;
    flex: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 50px;
    border-radius: 10px;
    width: 400px;
}

div.item-res {
    width: 90%;
    margin-top: 50px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.item-res > h2 {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

section#res {
    margin-top: 50px;
    height: 46vh;
    flex-flow: row wrap;
    overflow-y: auto;
}

.descricao-dados {
    padding: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: center;
}

.descricao-dados > p {
    text-indent: 20px;
    margin-left: 20px;
}

footer {
    background-color: white;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 20px;
}

section button {
    margin-top: 40px;
    display: block;
    background-color: rgb(10, 10, 10);
    margin: auto;
    width: 100px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

section a {
    margin-top: 10px;
    text-decoration: none;
    color: rgb(140, 72, 204);
}

footer a {
    text-decoration: none;
    color: rgb(113, 113, 255);
}